@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.container {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.webicon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.websiteName {
  font-family: Be Vietnam Pro, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #093149;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("/images/logo.png");
  background-size: cover;
}
.user {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 5px;
}

.sign {
  font-size: 15px;
  gap: 5px;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-right: 10px;
}

.sign a {
  font-family: Be Vietnam Pro, sans-serif;
  color: #eaedf0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px #1384db solid;
  background-color: #065e99;
  border-radius: 10px;
  padding: 8px 8px;
  transition: transform 0.3s ease;
  white-space: nowrap;
}

.sign a:hover {
  background-color: #4c575f;
  box-shadow: 0 8px 20px rgba(202, 225, 243, 0.774); 
  border-color: #6c808d;
}