@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}


.container {
  display: flex;
  height: max-content;
  align-items: center;
  width: 100%;
  flex-direction: column;
  overflow-x: hidden;
  
}

.main {
  display: grid;
  width: 100%;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr;
  min-height: 100vh; 
  
}

.header {
  grid-column: 2 / 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.366);
}

.webicon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.websiteName {
  font-family: Be Vietnam Pro, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #093149;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("/images/logo.png");
  background-size: cover;
}

.user {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 5px;
}

.sign {
  font-size: 15px;
  gap: 5px;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-right: 10px;
}

.sign a {
  font-family: Be Vietnam Pro, sans-serif;
  color: #eaedf0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px #1384db solid;
  background-color: #065e99;
  border-radius: 10px;
  padding: 8px 8px;
  transition: transform 0.3s ease;
  white-space: nowrap;
  cursor: pointer;
}

.sign a:hover {
  background-color: #4c575f;
  box-shadow: 0 8px 20px rgba(202, 225, 243, 0.774); 
  border-color: #6c808d;
}


.sidebar {
  grid-row: 1 / 3;
  backdrop-filter: blur(10px);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  background: white;
}

.sidebar nav {
  margin-top: 30px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 100%;
  font-size: 17px;
  
}

.sidebar nav p {
  display: block;
  color: #4A5568;
  text-shadow: 2px 2px 5px rgba(151, 18, 18, 0.1);
  border-radius: 5px;
  padding: 10px 2px;
  width: 100%;
  white-space: wrap;
  cursor: pointer;
  text-align: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

.sidebar nav a {
  display: block;
  color: #FFFFFF;
  text-shadow: 2px 2px 5px rgba(151, 18, 18, 0.1);
  border-radius: 5px;
  padding: 10px 2px;
  width: 100%;
  white-space: nowrap;
  cursor: pointer;
  background-color: #0D3B66;
  text-align: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

.sidebar nav p:hover {
  color: #1A202C;
  background-color: #304e6b;
}


.banner {
  width: 100%;
  height: 45vh;
  background-image: url("/images/banner.png");
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  color: #dbe5ef;
}

.bannerFill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #787c7f8f;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.headerBanner {
  font-family: Be Vietnam Pro, sans-serif;
  font-size: clamp(30px, 3vw, 50px);
  font-weight: 800;
  opacity: 1; 
}

.fullName {
  font-family: Be Vietnam Pro, sans-serif;
  font-size: clamp(25px, 2.5vw, 45px);
  font-weight: 800;
  opacity: 1; 
}


.footer {
  width: 100%;
  height: 200px;
  background-color: #323334;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  color: #dbe5ef;
}