

.search {
  width: 40%;
  padding: 10px 15px;
  border-radius: 15px;
  border: none;
  outline: none;
}

.grid {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(3, 600px);
  gap: clamp(15px, 2vw, 30px);
  grid-auto-rows: 250px;
  gap: 50px;
  margin-bottom: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  grid-column: span 1;
  grid-row: span 1;
  font-weight: 500;
  padding: 10px;
  box-sizing: border-box;
}

.cardHeader {
  font-family: Quicksand, sans-serif;
  font-weight: 800;
  margin-bottom: 10px;
}


.word {
  margin-right: 10px;
  margin-left: 10px;
  color: #dbe5ef;
  font-size: 15px;
}