

.search {
  width: 40%;
  padding: 10px 15px;
  border-radius: 15px;
  border: none;
  outline: none;
}

.grid {
  display: grid;
  margin-top: 50px;
  margin-right: clamp(10px, 2vw, 20px);
  margin-left: clamp(10px, 2vw, 20px);
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(15px, 2vw, 30px);
  grid-auto-rows: 190px;
}

.card {
  display: flex;
  flex-direction: column;
  grid-column: span 1;
  grid-row: span 1;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.342);
  border: 1px #1384db solid;
}

.cardHeader {
  font-family: Quicksand, sans-serif;
  font-weight: 800;
}

.cardMain2 {
  display: flex;
  gap: 10px;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: 80%;
}

.footer {
  flex: 1;
  height: max-content;
  margin-top: 50px;
  background-color: #323334;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.word {
  margin-right: 10px;
  margin-left: 10px;
  color: #dbe5ef;
  font-size: 15px;
}