.notiList {
  display: flex;
  flex-direction: column;
  max-height: 450px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #e5e7eb transparent;
}

.notiList::-webkit-scrollbar {
  width: 4px;
}

.notiList::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-bottom: 1px solid #f3f4f6;
  border-left: 4px solid transparent;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.item:hover {
  background-color: #f9fafb;
}

.news { border-left-color: #c084fc; }    
.overdue { border-left-color: #f87171; } 
.reserved { border-left-color: #fb923c; }
.cancelled {border-left-color: #ef4444;}
.reader { border-left-color: #68fd4e; }    

.content {
  font-size: 14px;
  line-height: 1.5;
  color: #374151;
  margin: 0 0 6px 0;
}

.content strong {
  color: #111827;
  font-weight: 600;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tagGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.statusTag {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.news .statusTag { color: #a855f7; }
.overdue .statusTag { color: #ef4444; }
.reserved .statusTag { color: #f97316; }
.cancelled .statusTag { color:#9d0303; }
.reader .statusTag { color:#039d34 }


.time {
  font-size: 11px;
  color: #9ca3af;
}

.detailLink {
  font-size: 11px;
  color: #3b82f6;
  font-weight: 600;
  text-decoration: none;
  opacity: 0;
  transform: translateX(-5px);
  transition: all 0.2s ease;
}

.item:hover .detailLink {
  opacity: 1;
  transform: translateX(0);
}