.main {
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: clamp(15px, 1vw, 20px);
    background: rgb(6, 16, 119);
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #ddd;
    width: 1000px;
}

/* === CSS CHO PHẦN 1: QUÉT THẺ MƯỢN SÁCH === */
.readerInfo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #ccc;
    align-items: center;
    padding: 15px 5px;
    font-family: Be Vietnam Pro, sans-serif;
    gap: 10px;
    overflow-y: auto;
}

.cardAvatarImg {
    width: clamp(140px, 10vw, 160px);
    height: clamp(140px, 10vw, 160px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
}

.reaservedBook {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #ccc;
    align-items: center;
    font-family: Be Vietnam Pro, sans-serif;
    padding: 15px 5px;
}

.books {
    width: 100%;
    gap: 15px;
    display: grid;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-auto-rows: min-content;
    padding: 10px;
    overflow-x: auto;
}

.card {
    font-family: Quicksand, sans-serif;
    border-radius: 12px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.bookImage {
    width: 100%;
    height: 220px;   
    object-fit: cover;
    border-bottom: 1px solid #ccc;
}

.bookDescription {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 13px;
}

/* === CSS CHO PHẦN 2: BẢNG DANH SÁCH QUẢN LÝ === */
.actionBar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.searchContainer {
    display: flex;
    align-items: center;
    width: 645px;
}

.searchContainer input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 100%;
    font-size: 1em;
}

.subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 850px;
} 

.tableFilters ul {
    list-style: none;
    padding: 0;
}

.tableFilters li {
    display: inline-block;
    padding: 10px 15px;
    background-color: #e9ecef;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 17px;
}

.tableFilters li.active {
    background-color: #007bff;
    color: #fff;
}

.iventoryDashboard {
    background: #ccc;
    font-size: 15px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 10px;
    height: fit-content;
}

.iventoryDashboardHeader {
    font-weight: bolder;
    font-size: 18px;
}

.bookTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.bookTable th,
.bookTable td {
    padding: 12px 10px;
    border-bottom: 1px solid #9ab9c7;
    text-align: left;
}

.bookTable th {
    background-color: #f2f2f2;
}

.desBar {
    background-color: #edeef1e3;
}