
.main {
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: clamp(15px, 1vw, 20px);
    background: rgb(6, 16, 119);
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #ddd;
    width: 1000px;
}

.searchContainer {
    display: flex;
    align-items: center;
    width: 645px;
    padding: 10px 15px,
}

.searchContainer input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 100%;
    font-size: 1em;
}

.readerInfo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #ccc;
    align-items: center;
    padding: 5px;
    font-family: Be Vietnam Pro, sans-serif;
    gap: 10px;
    overflow-y: auto;
}


.cardAvatarImg {
    width: clamp(180px, 10vw, 200px);
    height: clamp(180px, 10vw, 200px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
}

.reaservedBook {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 990px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #ccc;
    align-items: center;
    font-family: Be Vietnam Pro, sans-serif;
    padding: 5px;
}

.books {
    width: 990px;
    gap: 10px;
    display: grid;
    overflow-y: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 450px;
    padding: 10px;
    overflow-x: auto;
}

.card {
    font-family: Quicksand, sans-serif;
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 16px;
    white-space: wrap;
    font-weight: 500;
    background: rgb(255, 255, 255);
    min-width: 0;
    overflow: hidden;
    font-size: clamp(10px, 1vw, 20px);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.bookImage {
    width: 100%;
    height: 250px;   
    background: rgb(62, 27, 27);
    object-fit: cover;
    flex-shrink: 0;
    border: 1px solid #ccc;
    box-shadow: 2px solid #ccc;
    overflow: hidden;
}

.bookImage img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.bookDescription {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    overflow-y: auto;
}


.bookAuthor {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
}