
.main {
    height: 100%;
    width: 100%;
    margin: auto;
    font-size: clamp(15px, 1vw, 20px);
    background: rgb(6, 16, 119);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    width: 95%;
    height: 8vh;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-radius: 10px;
}

.search {
    width: 65%;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px 8px;
    border-radius: 999px;
    border: 1px solid rgb(110, 109, 109);
    margin-left: 5px;
    font-size: 17px;
}

.searchFilter {
    padding: 8px 8px;
    height: 80%;
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgb(110, 109, 109);
}


.grid {
    display: grid;
    width: 95%;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: repeat(5, 1fr);
    gap: clamp(15px, 2vw, 30px);
}

.card {
    background: rgb(255, 255, 255);
    border-radius: 15px;
    width: 200px;
    height: 300;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.bookCoverBox {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border: 2px solid rgba(0, 0, 0, 0.575);
    margin-bottom: 12px;
    height: 200px; 
}

.bookTitleOnCover {
    font-family: 'Serif', 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 8px;
    line-height: 1.2;
}

.ebookAuthorOnCover {
    font-size: 0.8rem;
    opacity: 0.8;
}
.pagination {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

